body {
  font-family: CMU Sans Serif, Computer Modern Sans, Latin Modern Sans, sans-serif;
}

li {
  padding: 0.2rem;
}

textarea {
  font-family: CMU Sans Serif, Computer Modern Sans, Source Sans Pro, sans-serif;
  width: 100%;
  height: 10rem;
  box-sizing: border-box;
}

output {
  font-family: Garamond, EB Garamond, Baskerville, Baskervald ADF Std, serif;
  font-size: 1.1em;
  margin: 1rem;
  white-space: pre-line;
}

footer {
  padding-top: 2rem;
}

.typewriter {
  font-family: CMU Typewriter Text, Computer Modern Typewriter, Courior;
  font-weight: lighter; /* CMU Typewriter looked broken, changing the weight fixes it. */
}

.newline {
  white-space: pre-line;
}

mark {
  background-color: yellow;
}

ol {
  list-style: upper-roman outside; /* :^) */
}

.btn-dotted {
  margin-top: 0.7em;
  background-color: white;
  font-family: inherit;
  border: 2px dashed;
  border-radius: 0px;
}

.btn-dotted:active {
  background-color: black;
}

@media (min-width: 40.0rem) {
  body {
    margin: 3rem;
  }
}
